# Notebook Instructions

1. All the <u>code and data files</u> used in this course are available in the downloadable unit of the <u>last section of this course</u>.
2. You can run the notebook document sequentially (one cell at a time) by pressing **shift + enter**. 
3. While a cell is running, a [*] is shown on the left. After the cell is run, the output will appear on the next line.

This course is based on specific versions of python packages. You can find the details of the packages in <a href='https://quantra.quantinsti.com/quantra-notebook' target="_blank" >this manual</a>.

## pandas.read_csv

pandas.read_csv() function helps you to read Comma Separated Files using Python and converts it into a dataframe. The data used in this notebook can be download from <a href='https://www1.nseindia.com/products/content/equities/equities/eq_security.htm' target="_blank" >here</a>.

In [1]:
# You have to download the 'Infosys' company's CSV file from www.nseindia.com.

import numpy as np
import pandas as pd

infy = pd.read_csv('../data_modules/infy_data.csv')

# This code will work only if you have stored the '../data_modules/infy.csv' in the same folder where this notebook is saved.

# If you store it at some other location, then the line of code would have to specify the location.

# infy = pd.read_csv ('C:/Users/academy/Desktop/infy_data.csv')

In [2]:
infy  # This is our entire "Infosys" stock data frame

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades
0,INFY,EQ,28-Mar-2016,1207.80,1232.40,1237.00,1195.75,1209.00,1204.90,1212.25,5393755,6.538592e+09,112913
1,INFY,EQ,29-Mar-2016,1204.90,1199.00,1218.90,1191.55,1195.00,1197.25,1205.49,3497678,4.216417e+09,91763
2,INFY,EQ,30-Mar-2016,1197.25,1197.60,1210.00,1195.55,1206.60,1205.95,1205.03,2878409,3.468575e+09,94161
3,INFY,EQ,31-Mar-2016,1205.95,1210.25,1229.90,1200.30,1220.00,1218.30,1215.31,8998160,1.093552e+10,207681
4,INFY,BL,01-Apr-2016,2136.10,1220.25,1220.25,1220.15,1220.15,1220.15,1220.18,775000,9.456359e+08,2
5,INFY,EQ,01-Apr-2016,1218.30,1216.00,1222.20,1195.10,1207.60,1205.45,1208.16,2755714,3.329332e+09,97501
6,INFY,EQ,04-Apr-2016,1205.45,1213.55,1248.00,1213.55,1245.30,1243.70,1234.52,2288527,2.825238e+09,76941
7,INFY,EQ,05-Apr-2016,1243.70,1242.00,1242.30,1214.00,1218.00,1219.80,1227.40,2395358,2.940055e+09,72189
8,INFY,EQ,06-Apr-2016,1219.80,1228.00,1228.00,1196.00,1201.65,1200.70,1208.74,2465677,2.980355e+09,82745
9,INFY,EQ,07-Apr-2016,1200.70,1208.40,1208.40,1175.00,1181.00,1181.50,1183.37,2828945,3.347681e+09,110844
10,INFY,EQ,08-Apr-2016,1181.50,1175.85,1177.50,1162.05,1167.25,1165.75,1169.04,2097789,2.452393e+09,73531
11,INFY,EQ,11-Apr-2016,1165.75,1165.80,1186.75,1151.10,1184.10,1183.90,1170.05,2884339,3.374830e+09,94441
12,INFY,EQ,12-Apr-2016,1183.90,1180.50,1194.90,1178.60,1183.00,1182.20,1185.97,2921069,3.464293e+09,91101
13,INFY,EQ,13-Apr-2016,1182.20,1194.95,1194.95,1166.35,1176.00,1172.70,1176.38,6255693,7.359084e+09,184136
14,INFY,EQ,18-Apr-2016,1172.70,1250.00,1267.90,1233.50,1237.15,1238.70,1247.17,12507995,1.559965e+10,287988
15,INFY,EQ,20-Apr-2016,1238.70,1244.00,1246.45,1225.80,1244.00,1243.60,1237.18,4036424,4.993801e+09,139599
16,INFY,EQ,21-Apr-2016,1243.60,1251.00,1251.00,1218.10,1226.80,1226.30,1231.52,2720550,3.350410e+09,97218
17,INFY,EQ,22-Apr-2016,1226.30,1226.30,1228.50,1207.00,1212.75,1211.25,1215.94,2571969,3.127365e+09,96983
18,INFY,EQ,25-Apr-2016,1211.25,1212.05,1224.80,1201.10,1219.25,1215.85,1211.42,2682067,3.249113e+09,91828
19,INFY,EQ,26-Apr-2016,1215.85,1215.45,1239.55,1208.60,1230.15,1232.15,1227.12,2923372,3.587319e+09,91684
20,INFY,EQ,27-Apr-2016,1232.15,1229.20,1242.35,1228.55,1239.15,1240.15,1236.90,2243104,2.774492e+09,110848
21,INFY,EQ,28-Apr-2016,1240.15,1231.00,1239.60,1207.00,1210.00,1209.15,1213.55,6082584,7.381519e+09,136015
22,INFY,EQ,29-Apr-2016,1209.15,1211.45,1223.55,1205.00,1206.20,1208.10,1211.59,2518205,3.051021e+09,103524
23,INFY,EQ,02-May-2016,1208.10,1210.00,1211.15,1196.15,1199.55,1201.05,1200.96,1807625,2.170885e+09,50153
24,INFY,EQ,03-May-2016,1201.05,1202.75,1212.20,1171.80,1177.95,1177.80,1190.11,3412405,4.061150e+09,132901
25,INFY,EQ,04-May-2016,1177.80,1181.00,1193.00,1170.65,1190.00,1188.85,1182.72,2906421,3.437484e+09,106651
26,INFY,EQ,05-May-2016,1188.85,1195.15,1199.00,1181.10,1195.45,1192.45,1189.58,3151334,3.748759e+09,137968
27,INFY,EQ,06-May-2016,1192.45,1189.80,1189.80,1177.05,1179.00,1181.50,1181.92,1298360,1.534552e+09,54186
28,INFY,EQ,09-May-2016,1181.50,1182.00,1201.55,1180.60,1199.85,1199.05,1192.94,2561839,3.056124e+09,81316
29,INFY,EQ,10-May-2016,1199.05,1202.50,1216.65,1196.60,1211.95,1212.80,1206.66,1697852,2.048736e+09,75786
...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,INFY,EQ,09-Feb-2018,1134.25,1118.00,1120.30,1106.00,1112.00,1109.15,1112.64,2191345,2.438185e+09,88836
468,INFY,EQ,12-Feb-2018,1109.15,1114.80,1120.60,1097.80,1101.00,1102.80,1106.85,3145986,3.482147e+09,52343
469,INFY,EQ,14-Feb-2018,1102.80,1106.00,1117.30,1090.20,1091.00,1097.75,1106.89,4172856,4.618905e+09,113292
470,INFY,EQ,15-Feb-2018,1097.75,1103.00,1129.70,1103.00,1113.50,1114.45,1118.96,3993368,4.468414e+09,99941
471,INFY,EQ,16-Feb-2018,1114.45,1125.00,1141.65,1118.10,1124.65,1128.05,1128.32,4944611,5.579126e+09,108882
472,INFY,EQ,19-Feb-2018,1128.05,1128.40,1136.00,1120.30,1134.20,1131.75,1129.16,3230920,3.648228e+09,83364
473,INFY,EQ,20-Feb-2018,1131.75,1103.75,1149.50,1103.75,1135.00,1136.95,1141.14,3594297,4.101611e+09,97878
474,INFY,EQ,21-Feb-2018,1136.95,1147.50,1151.90,1140.00,1145.00,1147.40,1146.98,6885679,7.897738e+09,169230
475,INFY,EQ,22-Feb-2018,1147.40,1145.55,1164.00,1140.45,1159.00,1160.75,1157.22,8929987,1.033400e+10,151810
476,INFY,EQ,23-Feb-2018,1160.75,1163.50,1166.00,1146.75,1154.40,1155.65,1158.08,4729914,5.477635e+09,128746
477,INFY,EQ,26-Feb-2018,1155.65,1151.00,1155.05,1134.35,1139.95,1138.60,1142.81,2541804,2.904793e+09,76083
478,INFY,EQ,27-Feb-2018,1138.60,1144.95,1153.65,1125.65,1147.70,1150.20,1139.08,3308013,3.768102e+09,140175
479,INFY,EQ,28-Feb-2018,1150.20,1147.60,1189.50,1142.55,1169.85,1172.60,1172.09,8634208,1.012003e+10,229051
480,INFY,EQ,01-Mar-2018,1172.60,1169.60,1169.60,1156.05,1160.25,1160.75,1161.83,3289926,3.822336e+09,95568
481,INFY,EQ,05-Mar-2018,1160.75,1160.75,1170.80,1143.25,1159.70,1155.90,1158.68,4050728,4.693512e+09,150137
482,INFY,EQ,06-Mar-2018,1155.90,1162.55,1165.40,1143.60,1146.25,1151.35,1157.61,3344867,3.872055e+09,123734
483,INFY,EQ,07-Mar-2018,1151.35,1155.00,1160.00,1138.05,1147.80,1144.10,1148.31,3185208,3.657595e+09,91049
484,INFY,EQ,08-Mar-2018,1144.10,1149.00,1165.80,1149.00,1158.00,1156.65,1158.61,3046507,3.529722e+09,110975
485,INFY,EQ,09-Mar-2018,1156.65,1162.35,1166.00,1155.55,1164.00,1163.40,1162.36,2110482,2.453139e+09,83674
486,INFY,EQ,12-Mar-2018,1163.40,1176.00,1191.85,1171.75,1184.00,1185.75,1186.26,3838485,4.553456e+09,82530
487,INFY,EQ,13-Mar-2018,1185.75,1180.20,1197.00,1175.15,1182.00,1183.80,1187.19,4290526,5.093653e+09,101093
488,INFY,EQ,14-Mar-2018,1183.80,1180.00,1190.60,1169.10,1181.10,1180.80,1180.26,2214855,2.614112e+09,54069
489,INFY,EQ,15-Mar-2018,1180.80,1180.00,1188.40,1172.00,1181.90,1182.50,1180.88,3050750,3.602570e+09,49232
490,INFY,EQ,16-Mar-2018,1182.50,1182.00,1182.40,1169.25,1170.00,1171.90,1172.96,8977413,1.053018e+10,156251
491,INFY,EQ,19-Mar-2018,1171.90,1164.00,1180.50,1142.65,1148.00,1146.75,1156.94,3763310,4.353938e+09,114366
492,INFY,EQ,20-Mar-2018,1146.75,1148.60,1170.00,1148.60,1164.55,1164.55,1159.74,4276883,4.960077e+09,111232
493,INFY,EQ,21-Mar-2018,1164.55,1170.00,1175.50,1162.20,1166.20,1167.50,1171.53,3846497,4.506271e+09,121529
494,INFY,EQ,22-Mar-2018,1167.50,1164.50,1177.45,1155.30,1156.00,1161.30,1167.57,3406584,3.977431e+09,82774
495,INFY,EQ,23-Mar-2018,1161.30,1147.00,1173.80,1142.35,1165.00,1167.60,1164.59,6004042,6.992254e+09,117145
496,INFY,EQ,26-Mar-2018,1167.60,1166.90,1166.90,1144.00,1155.60,1155.25,1153.17,4465361,5.149317e+09,101964

In [3]:
infy.head()  # You will see the top 5 rows

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades
0,INFY,EQ,28-Mar-2016,1207.80,1232.40,1237.00,1195.75,1209.00,1204.90,1212.25,5393755,6.538592e+09,112913
1,INFY,EQ,29-Mar-2016,1204.90,1199.00,1218.90,1191.55,1195.00,1197.25,1205.49,3497678,4.216417e+09,91763
2,INFY,EQ,30-Mar-2016,1197.25,1197.60,1210.00,1195.55,1206.60,1205.95,1205.03,2878409,3.468575e+09,94161
3,INFY,EQ,31-Mar-2016,1205.95,1210.25,1229.90,1200.30,1220.00,1218.30,1215.31,8998160,1.093552e+10,207681
4,INFY,BL,01-Apr-2016,2136.10,1220.25,1220.25,1220.15,1220.15,1220.15,1220.18,775000,9.456359e+08,2

In [4]:
infy.tail()  # You will see the bottom 5 rows

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades
492,INFY,EQ,20-Mar-2018,1146.75,1148.6,1170.00,1148.60,1164.55,1164.55,1159.74,4276883,4.960077e+09,111232
493,INFY,EQ,21-Mar-2018,1164.55,1170.0,1175.50,1162.20,1166.20,1167.50,1171.53,3846497,4.506271e+09,121529
494,INFY,EQ,22-Mar-2018,1167.50,1164.5,1177.45,1155.30,1156.00,1161.30,1167.57,3406584,3.977431e+09,82774
495,INFY,EQ,23-Mar-2018,1161.30,1147.0,1173.80,1142.35,1165.00,1167.60,1164.59,6004042,6.992254e+09,117145
496,INFY,EQ,26-Mar-2018,1167.60,1166.9,1166.90,1144.00,1155.60,1155.25,1153.17,4465361,5.149317e+09,101964

The reason why we are studying this separately is that it is important to understand this function. You will be using this function the most while making financial trading strategies.

Another reason is, once you download a CSV file, it becomes a stable data source as it didn't require the involvement of third party. Fetching data from web sources require third-party access and it might fail if the third party access is unavailable. Also, the restriction on the number of request one can make is also imposed. In case of CSV, it is stored on the local drive and can be accessed without the involvement of the third party. 
We will see more of this in the Pandas section of our course.

In the upcoming IPython notebook, we will learn about 2D plotting of financial market data, but before that let us solve an exercise on this. <br><br>